<!DOCTYPE html>
<html>
<head>
	<title>Calculate Rate</title>
</head>
<body>
	<h1>Postal Rate Calculator</h1>
	<form name="postal_rate_input" action="/getRate" method="post">
		<select name="mail_type">
		  <option value="letters_stamped">Letters (Stamped)</option>
		  <option value="letters_metered">Letters (Metered)</option>
		  <option value="large_envelope">Large Envelopes (Flats)</option>
		  <option value="package">First-Class Package Service—Retail</option>
		</select><br>
		<input type="text" name="weight" maxlength="3" placeholder="weight"><br>
		<button type="submit">Calculate</button>
	</form>

	<h1><%= (total == -1) ? "invalid weight" : "Price: $" + total %></h1>
</body>
</html>