<!DOCTYPE html>
<html>
<head>
	<title>Calculate Rate</title>
</head>
<body>
	<h1>Postal Rate Calculator</h1>
	<form name="postal_rate_input">
		<input type="radio" name="mail_type">Letters (Stamped)<br>
		<input type="radio" name="mail_type">Letters (Metered)<br>
		<input type="radio" name="mail_type">Large Envelopes (Flats)<br>
		<input type="radio" name="mail_type">First-Class Package Service—Retail<br>
		<input type="text" name="weight" maxlength="3" placeholder="weight"></input><br>
		<button type="submit">Calculate</button>
	</form>
</body>
</html>