<!DOCTYPE html>
<html>
<head>
	<title>Calculate Rate</title>
</head>
<body>
	<h1>Postal Rate Calculator</h1>
	<form name="postal_rate_input" action="get">
		<select name="mail_type">
		  <option value="letters_stamped">Letters (Stamped)</option>
		  <option value="letters_metered">Letters (Metered)</option>
		  <option value="large_envelope">Large Envelopes (Flats)</option>
		  <option value="package">First-Class Package Service—Retail</option>
		</select>
		<input type="text" name="weight" maxlength="3" placeholder="weight"></input><br>
		<button type="submit">Calculate</button>
	</form>
</body>
</html>